<%- include("_layout", { subject, body: `
    <h2>Welcome to Bevgo, ${name}!</h2>
    <p>We're thrilled to have you on board. Start ordering from our app and enjoy up to 3% cashback on every order, no matter the volume.</p>
    <p><a href="https://client-portal.bevgo.co.za">Go to Client Portal</a></p>
  ` }) %>
  